/* Utils */
@import "./utils/reset.css";
@import "./utils/variables.css";

/* Components */
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/cards.css";
@import "./components/buttons.css";
@import "./components/background.css";

/* Pages */
@import "./pages/home.css";
@import "./pages/competence.css";
@import "./pages/contact.css";
@import "./pages/ecole-alternance.css";
@import "./pages/veille-technologique.css";
@import "./pages/projets-E6.css";
@import "./pages/bts-sio.css";
@import "./pages/missions-E5.css";
